body {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #000000;	
	overflow: auto;
	vertical-align: top;


	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	
	
}


header {
	display: block;
	overflow:hidden;
	height:100px;
	border-bottom: 1px solid red;
	margin-bottom:10px;
	margin-left : 10%;
	margin-right : 10%;
}


header h1 {
	
    text-align: center;
    color : red;
}

footer {
	clear: left;
	border-top: 1px solid red;
	
	margin-top:10px;
	
	color: red;
	font-weight: bold;
	text-align : center !important;
	padding: 5px;
	font-size:10pt;
	margin-left : 10%;
	margin-right : 10%;
}


div.content {
	display: block;
	overflow: hidden;
	
	clear: left;
	text-align: left;
	margin-left : 10%;
	margin-right : 10%;

}


section {
	margin-bottom: 10px;
	display:block;
	overflow:hidden;
}


section.selection span {
	float:left; 
	width:120px;
}

section.selection div.input-group{
	display:block; 
	overflow:hidden;
}


section.selection div.input-group input[type="radio"]{
	float: left;
	margin-top: 3px;
}


table.narrow tbody tr:nth-of-type(odd) {
    background: #DEDDDD;
}

section.selection div.input-group label{
	display:block; 
	overflow:hidden;
}


section.selection div.input-group label span.info{
	white-space:nowrap;
	margin-top: 2px;
}


section.selection div.input-group label span.display{	
	overflow:hidden; 
	display: inline-block;
	width: 80px; 
	white-space:nowrap;
	margin-top: 2px;
}



.selection table tr td label.outer {
	min-width:250px;
}

input[type="radio"]{
  margin-top: -1px;
  vertical-align: middle;
 	
}





table tr td {
		vertical-align: top;
}

table.selections   {
	border-spacing: 0;
	border-collapse: collapse;
}




table.narrow   {
	border-spacing: 0;
	border-collapse: collapse;
}


table.narrow tr td {
	padding : 0px;
	margin : 0;

}

table.narrow tr td.borderRed {
	padding-left : 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ff0000;		
} 


