html {
    width: 100%;
    height: 100%;
}

body {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;	
	overflow: auto;
	vertical-align: top;


}

div.content {
	display: block;
	overflow: hidden;
	clear: left;
	text-align: left;
	margin-left : 2%;
	margin-right : 2%;
}



section {
	margin-bottom: 20px;
	display:block;

}

header {
	display: block;
	overflow: hidden;
	border-bottom: 3px solid red;
	margin-bottom:10px;
	background-image: url(/images/DPA-GEOS.jpg);
	background-repeat: no-repeat;
	background-size: auto 50px;	
	height : 60px;	
}


header h1 {
	margin-left : 150px;
	font-size: 12pt;
    color : red;
}

footer {
	clear: left;
	border-top: 3px solid red;
	
	margin-top:10px;
	
	color: red;
	font-weight: bold;
	text-align : center !important;
	padding: 5px;

	
}


label {
 vertical-align: baseline;
 display: block;
 padding : 0;
}



section span.main {
	float:left; 
	width:80px;
	margin-right: 5px;
}

section.selection div.input-group{
	display:block; 
	overflow:hidden;
}

section.selection div.input-group label{
 vertical-align: baseline;
 display: block;
 padding : 0;
 margin:0;
}

section.selection div.input-group input[type="radio"]{
  margin-top: 1px;
  vertical-align: middle; 	

}

section.selection div.input-group label:nth-of-type(odd) {
    background: #EFEEEE;
}

table.narrow tbody tr:nth-of-type(odd) {
    background: #EFEEEE;
}

section.selection div.input-group label span.display{
	margin-top: 2px;
	width: 50px; 
	display: inline-block;
	white-space:nowrap;	
	margin-right: 10px;
}


table.narrow   {
	border-spacing: 0;
	border-collapse: collapse;
}


table.narrow tr td {
	padding : 0px;
	margin : 0;

}


table.narrow tr td.title {
	padding : 0px;
	margin : 0;
}




table.narrow tr td.borderRed {
	padding-left : 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ff0000;		
} 


table tr td.radioOptions {
	padding-bottom : 10px;
	margin : 0px;
}


div.ajaxZebra {	
	margin-top: 0px;
	display:block; 
	overflow:hidden;
}

div.ajaxZebra div.zebra:nth-of-type(odd){
	width: 150px;
	background: #EFEEEE;
	display:block; 
	overflow:hidden;
}


table.cvCred tr td input{
	
}