div.content {
	display: block;
	overflow: hidden;
	
	clear: left;
	text-align: left;
	margin-left : 10%;
	margin-right : 10%;

}

section.selection span.title {
	float:left; 
	width:120px;
	margin-right: 5px;
}

section.selection div.input-group{
	display:block; 
	overflow:hidden;
	margin-bottom: 20px;
	
	
}


section.selection div.input-group label:hover{

	  background: #EFEEEE;
}


table.cvCred tr td input{
	font-size: 9pt !important;
}


section.selection div.input-group label{
	display:block; 
	overflow:hidden;
	padding : 0  !important;
	margin:0;
	font-weight:normal !important;
	cursor: pointer;
}



section.selection div.input-group input[type="radio"]{
  float: left;
  
}


section.selection div.input-group label span.info{
	white-space:nowrap;
}


section.selection div.input-group label span.display{	
	overflow:hidden; 
	display: inline-block;
	width: 80px; 
	float: left;
	white-space:nowrap;
}



.selection table tr td label.outer {
	min-width:250px;
}

input[type="radio"]{
	margin-right: 4px;
 

 
 	
}


table tr td {
		vertical-align: top;
}

table.selections   {
	border-spacing: 0;
	border-collapse: collapse;
}


table.narrow   {
	border-spacing: 0;
	border-collapse: collapse;
}


table.narrow tr td {
	padding : 0px;
	margin : 0;

}
table.narrow tbody tr:nth-of-type(odd) {
    background: #EFEEEE;
}

table.narrow tr td.borderRed {
	padding-left : 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ff0000;		
} 


div.ajaxZebra {	
	margin-top: 0px;
	display:block; 
	overflow:hidden;
}

div.ajaxZebra div.zebra:nth-of-type(odd){
	width: 170px;
	background: #EFEEEE;
	display:block; 
	overflow:hidden;
}

