<div class="ajaxZebra">
	<listExternTarief>
	<div class="zebra">
	  <div style="float:left; width:100px;">&euro; &nbsp;{#wage#}</div><div >&euro; &nbsp;{#tarief#} </div>	
	</div>
	</listExternTarief>	
</div>
