<style>
	<include>contract/style.css</include> 
</style> 
<div class="page" >  	
<include>contract/page00.html</include>   	
</div>
  
<div class="page">
	<include>contract/page01.html</include>  	
</div>


<div class="page">
	<include>contract/page02.html</include>  	
</div>


<div class="page">
	<include>contract/page03.html</include>  	
</div>


<div class="page">
	<include>contract/page04.html</include>  	
</div>

<div class="page">
	<include>contract/page05.html</include>  	
</div>


<div class="page">
	<include>contract/page06.html</include>  	
</div>


<div class="page">
	<include>contract/page07.html</include>  	
</div>


<div class="page" style="page-break-after: avoid; ">
	<include>contract/page08.html</include>  	
</div>