&nbsp;<br />
&nbsp;<br />
<table class="narrow">
  <tr>
  	<listGekozen>
	<td class="borderRed" style="min-width:120px;"><strong>{#display#}</strong></td>
	</listGekozen>	
  </tr>
    <tr>
  	<listGekozen>
	<td  class="borderRed">{#value#} &nbsp;</td>
	</listGekozen>	
  </tr>
</table>
&nbsp;<br />
&nbsp;<br />
<table class="narrow" >
  <tr>
    <td style="min-width:120px;"><strong>Extern Tarief</strong></td ><listExternTarief><td class="borderRed">&euro; {#tarief#} &nbsp;</td></listExternTarief>
  </tr>
    <tr>
    <td style="min-width:120px;"><strong>Maandloon</strong></td><listExternTarief><td class="borderRed">&euro; {#wage#} &nbsp;</td></listExternTarief>
  </tr>
</table>
&nbsp;<br />
&nbsp;<br />

<table class="narrow"  style="max-width:200px;page-break-after:always;">
  <tr><td>Uw Naam: &nbsp;</td><td>{{POST['voornaam']}} {{POST['achternaam']}} </td> </tr>
  <tr><td>eMail:&nbsp;</td><td>{{POST['email']}}  </td> </tr>
  <tr><td>Telefoonnummer:&nbsp;</td><td>{{POST['telefoon']}}  </td> </tr>
</table>
