<p>U heeft een email ontvangen met een concept contract. DPA zal binnekort contact met  u opnemen.</p>

&nbsp;<br />
&nbsp;<br />

<table class="narrow">
	<thead>
		<tr>
			<th style="text-align:left;width:50px;">Tarief</th>
			<th style="text-align:right;">Maandloon</th>
		</tr>		
	</thead>
	<tbody>
		<listExternTarief>
		<tr>
		 	<td style="text-align:left;">&euro; {#tarief#}</td>
			<td  style="text-align:right;">&euro;  {#wage#} &nbsp;</td>
		</tr>
		</listExternTarief>		
	</tbody>				
</table>	
&nbsp;<br />
&nbsp;<br />
<table class="narrow">
  <listGekozen>
  <tr>  	
	<td style="min-width:120px;"><strong>{#display#}</strong>&nbsp;&nbsp;</td><td >{#value#} &nbsp;</td>
  </tr>
  </listGekozen>	
</table>
&nbsp;<br />
&nbsp;<br />

<table class="narrow"  style="max-width:200px;page-break-after:always;">
  <tr><td>Uw Naam: &nbsp;</td><td>{{POST['voornaam']}} {{POST['achternaam']}} </td> </tr>
  <tr><td>eMail:&nbsp;</td><td>{{POST['email']}}  </td> </tr>
  <tr><td>Telefoonnummer:&nbsp;</td><td>{{POST['telefoon']}}  </td> </tr>
</table>

