<section  id="extra Info" >		
	<table class="cvCred">
		<tr>
			<td>Aanhef</td><td> Achternaam</td><td>Voornaam</td>
		</tr>
		<tr>
			<td  colspan="1">
				<select name="geslacht">
					<option value="De Heer">De Heer</option>
					<option value="Mevrouw">Mevrouw</option>
				</select>
			</td>			
			<td> <input type="text" name="achternaam"  value="" size="20" /></td>
			<td> <input type="text" name="voornaam"  value=""   size="10" /></td>
		</tr>	
		<tr>
			<td>&nbsp;</td><td>eMail</td><td>Telefoon</td>
		</tr>	
		<tr>
			<td>Curriculum <br />Vitae</td>
			<td> <input type="text" name="email" size="20" value=""/> </td>
			<td> <input type="number" name="telefoon"  value="" pattern="[0-9]*"   size="10" /> </td>
			
		</tr>	
		<tr>
			<td  colspan="3"><input type="file" name="cvData"  value=""  style="width:100%;"/></td>
		</tr>
	</table>
	<div id="feedbackDownload">&nbsp;</div>	
</section>	
<section  id="submit" >
	   	<input type="button"  value="Email concept contract" onclick="checkForm(this.form);" />
	    <input type="button"  value="Formulier Resetten" onclick="herstelVelden(this);"/>
</section>