<form name="stelSamen" action="download.php" method="POST"  onsubmit="return false;" enctype="multipart/form-data">
	<input type="hidden"  name="cWerkuren"  value=""  />
	<input type="hidden"  name="cMobiliteit"  value=""  />
	<input type="hidden"  name="cVakantiedagen"  value=""  />
	<section >		
		<div style="display:block; overflow:hidden;margin-left: 80px;margin-bottom:5px;">				
			<div style="float:left; width:100px;">
			Basisloon: <br />
			<select name="wage" onchange="updateFields4SelectWage(this);"><listloonData><option value="{#wage#}" {#selected#}>&euro;&nbsp; {#wage#}</option></listloonData></select>
			</div>
			<div>
			Tarief bij klant: <br />
			<select name="extTarief" onchange="updateFields4SelectWage(this);"><listextTarief><option value="{#tarief#}" {#selected#}>&euro;&nbsp; {#tarief#}</option></listextTarief></select>
			</div>	
		</div>
		<span  class="main">Loon met bonus</span>
		<div id="tableCalcs">
		
		</div>	
	</section>
	<listxmloptions>
		<section class="selection">			
			 	<span class="main">{#label#}</span>
			 	<div class="input-group">
				 	<list{#OptionsName#}>				 	
						<label title="{#info#}" >							
							<input type="radio"  name="{#OptionsName#}" value="{#value#}" data-display="{#display#}" onclick="updateFields4SelectWage(this);" {#selected#}/>
							<span class="display">{#display#}</span>  
							<span class="info">{#mobile#}</span>
						</label>
					</list{#OptionsName#}>	
				</div>				
		  </section>
    </listxmloptions>	
    <include>formElements.html</include>
</form>
<include>index.js.html</include>