
<table>
<listGekozen>
<tr>
 <td><strong>{#display#} : </strong> &nbsp; </td><td>{#value#}  </td> 
</tr>
</listGekozen>
</table>

<form method="POST" action="/contract/download.html">
<input type="submit"  value="Downloaden"/>
</form>