<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Exception in code</title>
	<link rel="stylesheet" type="text/css" href='/css/base.css'  />
	<script type="text/javascript" src="js/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="js/ajax.js"></script>

<style>
	<!--
	
	table tr td {
		padding-left: 10px;
		padding-right: 10px;
		color: navy;
	}
	-->
</style>
</head>
<body>
	<header >
		<section style="float: left;width:150px;">
		  <a href="{{applPrefix}}"  style=""><img src="{{applPrefix}}images/cropped-cropped-logo-dpa.png" />  </a>
		</section>
		<aside>
		<h1 style="font-size:14pt;">{{ExceptionClass}}: {{ExceptionMessage}}</h1>
		</aside>
	</header>

 	<table align="center"  style="min-width:200px;">
		<tr>
			<td  >
				 <br />
				Contact your system administrator for
				further details. Do not forget to print a copy of this page.
			</td>
		</tr>
		<tr>
			<td>
				<table cellspacing="0" border="1" style="width:100%;">
					<tr style="background-color: yellow;">
						<td>File &nbsp;</td>
						<td>Line &nbsp;</td>
						<td>Method &nbsp;</td>
					</tr>
					<listExceptionTrace>
					<tr>
						<td>{#file#} &nbsp;</td>
						<td>{#line#} &nbsp;</td>
						<td>{#class#}{#type#}{#function#}({#args#}) &nbsp;</td>
					</tr>
					</listExceptionTrace>
				</table>
			</td>
		</tr>
		<tr>
			<td>
			<hr />
			</td>
		</tr>
	</table>
	<include>~/includes/copyright.html</include>
</body>
</html>