<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Exception in code</title>
<style>
body {
	background-color: #EBDDCE;
	font-family: Arial;
}

table tr td {
	padding-left: 10px;
	padding-right: 10px;
	color: navy;
	text-align: left;
	font-size: 12px;
}
</style>
</head>
<body>
	<header >
		<section style="float: left;width:150px;">
		  <a href="{{applPrefix}}"  style=""><img src="{{applPrefix}}images/cropped-cropped-logo-dpa.png" />  </a>
		</section>
		<aside>
		<h1 style="font-size:14pt;">{{ExceptionClass}}: {{ExceptionMessage}}</h1>
		</aside>
	</header>

	<table align="center">
		<tr>
			<td rowspan="2">
			<img src="/images/noAuth.png"	width="300" /></td>
			<td style="width: 500px;">
				<h1 style="color: #AA0011; font-size: 22px;">{{ExceptionMessage}}</h1>

				<span style="font-size: 20px;"> You do not have access to
					pages handled by the controller <font style="color: red;">`{{controller}}`</font>
					or produced by firing the action <font style="color: red;">`action_{{action}}`</font>.
					<br />Contact your administrator for details.
			</span>
			</td>
		</tr>
		<tr>
			<td>
				<hr />
			</td>
		</tr>
	</table>

</body>
</html>