<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href='{{applPrefix}}/css/base.css'  />
</head>
<body>
    <div class="content">
    	<content/>
    </div>
</body>
</html>