<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, "><!-- maximum-scale=1, user-scalable=1 -->
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href='{{applPrefix}}css/base.css'  />
</head>
<body>
	<table>
	 <tr>
	   <td>
	      <a href="{{applPrefix}}" ><img src="/images/cropped-cropped-logo-dpa.png" />  </a>
	  
	   </td>
	   <td>
	      <h1 style="width:100%;">{{title}} </h1>
	   </td>
	 </tr>
	 <tr>
	   <td style="vertical-align:top;" colspan="2">
	      <div class="content"><content/></div>
	   </td>
	 
	 </tr>
	 <tr>
	  <td colspan="2">
	  
	    <center style="background-color:red;color:white;">{{copyright_text}}</center>
	  </td>
	 </tr>
	</table>
</body>
</html>