<!DOCTYPE html>
<!--[if IEMobile 7 ]>
<html lang="nl" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"class="no-js iem7"> <![endif]-->
<!--[if lt IE 7 ]>
<html lang="nl" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>
<html lang="nl" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>
<html lang="nl" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>
<html lang="nl" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="ie9"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html lang="nl" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
	class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{title}}</title>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1">
<link rel="pingback" href="https://www.dpa.nl/it/xmlrpc.php">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KQ4823');</script>
<!-- End Google Tag Manager -->

<!-- icons & favicons -->
<link rel="apple-touch-icon"
	href="https://www.dpa.nl/content/themes/dpa/favicon.png">
<link rel="icon" type="image/x-icon"
	href="https://www.dpa.nl/content/themes/dpa/favicon.ico">


<script type="text/javascript">
        var ajaxurl = "https://www.dpa.nl/it/wp-admin/admin-ajax.php";
    </script>


<!-- Google Badge Script -->
<script src="https://apis.google.com/js/platform.js" async defer>
        {
            lang: 'nl'
        }
    </script>
<!-- wordpress head functions -->

<!-- This site is optimized with the Yoast SEO Premium plugin v3.4.2 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description"
	content="Wij kunnen jou als specialist verbinden aan diverse interessante opdrachtgevers. Bekijk de GEOS vacatures en kom met ons in contact." />
<meta name="robots" content="noodp" />
<link rel="publisher"
	href="https://plus.google.com/103419111597482276458/" />
<meta property="og:locale" content="nl_NL" />
<meta property="og:type" content="article" />
<meta property="og:title" content="GEOS vacatures | DPA GEOS" />
<meta property="og:description"
	content="Wij kunnen jou als specialist verbinden aan diverse interessante opdrachtgevers. Bekijk de GEOS vacatures en kom met ons in contact." />
<meta property="og:site_name" content="IT" />
<meta property="article:publisher"
	content="https://www.facebook.com/DPAprofessionals" />
<meta property="fb:app_id" content="100000870356505" />
<meta property="og:image"
	content="https://www.dpa.nl/content/uploads/sites/5/2015/06/Button-open-sollicitatie.png" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description"
	content="Wij kunnen jou als specialist verbinden aan diverse interessante opdrachtgevers. Bekijk de GEOS vacatures en kom met ons in contact." />
<meta name="twitter:title" content="GEOS vacatures | DPA GEOS" />
<meta name="twitter:site" content="@DPA_Prof" />
<meta name="twitter:image"
	content="https://www.dpa.nl/content/uploads/sites/5/2015/06/Button-open-sollicitatie.png" />
<meta name="twitter:creator" content="@DPA_Prof" />
<meta property="DC.date.issued" content="2015-06-25T09:41:59+00:00" />
<!-- / Yoast SEO Premium plugin. -->

<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/www.dpa.nl\/it\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.3"}};
			!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
<style type="text/css">
img.wp-smiley, img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='multiple_select_style-css'
	href='https://www.dpa.nl/content/plugins/dpa-elastic-search/css/multiple-select.css?ver=4.5.3'
	type='text/css' media='all' />
<link rel='stylesheet' id='favourite-vacancies-plugin-styles-css'
	href='https://www.dpa.nl/content/plugins/favourite-vacancies/public/assets/css/public.css?ver=1.0.0'
	type='text/css' media='all' />
<link rel='stylesheet' id='kamn-css-easy-twitter-feed-widget-css'
	href='https://www.dpa.nl/content/plugins/easy-twitter-feed-widget/easy-twitter-feed-widget.css?ver=4.5.3'
	type='text/css' media='all' />
<link rel='stylesheet' id='style-css'
	href='https://www.dpa.nl/content/themes/dpa/assets/css/style.css?ver=1.0'
	type='text/css' media='screen' />
<link rel='stylesheet' id='ie-style-css'
	href='https://www.dpa.nl/content/themes/dpa/assets/css/ie.css?ver=1.0'
	type='text/css' media='screen' />
<link rel='stylesheet' id='new-royalslider-core-css-css'
	href='https://www.dpa.nl/content/plugins/new-royalslider/lib/royalslider/royalslider.css?ver=3.2.0'
	type='text/css' media='all' />
<link rel='stylesheet' id='rsUni-css-css'
	href='https://www.dpa.nl/content/plugins/new-royalslider/lib/royalslider/skins/universal/rs-universal.css?ver=3.2.0'
	type='text/css' media='all' />
<link rel='stylesheet' id='rsDefaultInv-css-css'
	href='https://www.dpa.nl/content/plugins/new-royalslider/lib/royalslider/skins/default-inverted/rs-default-inverted.css?ver=3.2.0'
	type='text/css' media='all' />
<script>var jquery_placeholder_url = 'https://www.dpa.nl/content/plugins/gravity-forms-placeholders/jquery.placeholder-1.0.1.js';</script>
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>

<script type='text/javascript'>
/* <![CDATA[ */
var wprf_search_data = {"ajaxurl":"https:\/\/www.dpa.nl\/it\/wp-admin\/admin-ajax.php","currenturl":"https:\/\/www.dpa.nl:443\/it\/geos-vacatures\/","ajax_call":"wprf_general_search","ajax_nonce":"52dc825333","limit":"10","event_selector":"#search-keyword","search_result_format":"<article class=\"search-result\" role=\"article\"><div class=\"list-style-container container\"><header>%%AVATAR%%<\/header><section class=\"entry-content\"><h3 class=\"search-title\"><a href=\"%%PERMALINK%%\" rel=\"bookmark\">%%TITLE%%<\/a><\/h3><div class=\"excerpt\">%%SUMMARY%%<\/div><\/section>%%METADATA%%<\/div><\/article>","search_no_result_format":"<section style=\"cursor:default;\"><div class=\"container\"><h3 style=\"margin-bottom: 60px; text-align: center;\">We konden geen resultaten vinden voor uw zoekopdracht.<\/h3><\/div><\/section>","html_search_skeleton":"<div id=\"content\"><div class=\"container\"><p id=\"breadcrumbs\">\u00a0<\/p><\/div><article class=\"lyt-full\" role=\"article\"><header><div class=\"container\"><div class=\"title\"><h1>Zoekresultaten<\/h1><\/div><\/div><\/header><section class=\"post-content\"><div id=\"grid-style-container\">%%SEARCH_RESULTS%%<\/div><\/section><\/article><\/div>","searchfield_selector":"#search-keyword","content_selector":"#wprf-main","body_class":"search search-no-results","hide_elements_selector":"","no_results_text":"No results found","results_found_text":"See all [] found results.","search_link":"https:\/\/www.dpa.nl\/it\/?s="};
/* ]]> */
</script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/plugins/dpa-elastic-search/js/wprf-search.js?ver=1'></script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/plugins/dpa-elastic-search/js/jquery.multiple.select.js?ver=1.7'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var multi_select_translations = {"field":"Vakgebied","location":"Locatie","contracttype":"Dienstverband"};
/* ]]> */
</script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/plugins/dpa-elastic-search/js/filters-settings.js?ver=1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var favouritePluginData = {"ajaxurl":"https:\/\/www.dpa.nl\/it\/wp-admin\/admin-ajax.php","storageName":"favourites_5","localStorageNotSupported":"Local Storage wordt niet ondersteund","notificationToken":"bf75d466a6","favouritesToken":"e3549b839b"};
/* ]]> */
</script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/plugins/favourite-vacancies/public/assets/js/public.min.js?ver=1.0.0'></script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/plugins/favourite-vacancies/public/assets/js/shims.min.js?ver=1.0.0'></script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/themes/dpa/assets/js/libs/chosen.jquery.js?ver=1.0'></script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/themes/dpa/assets/js/libs/jquery.visible.js?ver=4.5.3'></script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/themes/dpa/assets/js/libs/jquery.jpanelmenu-transform-build.js?ver=4.5.3'></script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/themes/dpa/assets/js/libs/classie.js?ver=4.5.3'></script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/themes/dpa/assets/js/libs/jquery.equalheights.js?ver=4.5.3'></script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/themes/dpa/assets/js/libs/modernizr.full.min.js?ver=4.5.3'></script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/themes/dpa/assets/js/libs/parallax.min.js?ver=4.5.3'></script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/themes/dpa/assets/js/libs/jquery.bxslider.min.js?ver=4.5.3'></script>
<script type='text/javascript'
	src='https://www.dpa.nl/content/plugins/gravity-forms-placeholders/gf.placeholders.js?ver=1.0'></script>
<link rel='https://api.w.org/' href='https://www.dpa.nl/it/wp-json/' />
<link rel='shortlink' href='https://www.dpa.nl/it/?p=580' />
<link rel="alternate" type="application/json+oembed"
	href="https://www.dpa.nl/it/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.dpa.nl%2Fit%2Fgeos-vacatures%2F" />
<link rel="alternate" type="text/xml+oembed"
	href="https://www.dpa.nl/it/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.dpa.nl%2Fit%2Fgeos-vacatures%2F&#038;format=xml" />
<link rel="stylesheet" type="text/css" media="print"
	href="https://www.dpa.nl/content/themes/dpa/assets/css/print.css">
<link rel="stylesheet" type="text/css" href='/css/geos.base.css'  />
<!-- end of wordpress head -->
<!-- IE8 fallback moved below head to work properly. Added respond as well. Tested to work. -->
<!-- media-queries.js (fallback) -->
<!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

<!-- html5.js -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- respond.js -->
<!--[if lt IE 9]>
    <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

</head>
<body
	class="page page-id-580 page-parent page-template-default favourite-vacancies-plugin-active">
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQ4823"
			height="0" width="0" style="display: none; visibility: hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header role="banner">
		<div class="navbar navbar-neutral navbar-fixed-top">
			<div class="container">

				<div class="navbar-header">
					<button type="button" id="showLeft" class="navbar-toggle">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand"
						title="De professionals van DPA hebben specialistische IT-kennis en -expertise. Van IT-architecturen ontwikkelen tot Oracle- en Java-oplossingen implementeren."
						href="https://www.dpa.nl/it"> <!--<img src="https://www.dpa.nl/content/themes/dpa/images/logo.png" /> fixed header image -->
						<img
						src="https://www.dpa.nl/content/uploads/sites/5/2016/01/cropped-DPA-IT_RGB.png"
						height="97" width="162" alt="" />
					</a>
				</div>
				<div class="menu-login">
					<div class="my-dpa">
						<a target="_blank" href="https://dpa.carerix.net/">Mijn DPA</a>
					</div>
					<div class="main-dpa">
						<a href="https://www.dpa.nl/">DPA.NL</a>
					</div>
					<form class="general-search" action="https://www.dpa.nl/">
						<div class="form-group">
							<input id="search-keyword" name="s" type="text"
								class="search-query form-control"
								placeholder="Zoek binnen website">
							<button type="submit">Search...</button>
							<div class="fav-list extra">
								<a href="https://www.dpa.nl/favorieten/" data-placement="bottom"
									data-toggle="tooltip" title="Jouw favorieten"> <span
									class="fav-icon"></span> <span class="fav-num">0</span>
								</a>
							</div>
						</div>
					</form>
					<div id="cbp-spmenu-s2"
						class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left navbar-responsive-collapse">
						<ul id="menu-main-menu" class="nav navbar-nav">
							<li id="menu-item-372"
								class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-1"><a
								href="https://www.dpa.nl/it">Home</a></li>
							<li id="menu-item-358"
								class="dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-1"><a
								class="dropdown-toggle" data-toggle="dropdown">Vakgebieden</a><b
								class="caret"></b>
								<ul class="dropdown-menu main-menu-level-2-container">
									<div class="sub-menu-width">
										<div class="container">
											<div class="menu-column-container">
												<li id="menu-item-1035"
													class="dropdown menu-title menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-2"><a
													class="dropdown-toggle" data-toggle="dropdown">Vakgebieden</a><b
													class="caret"></b>
													<ul class="dropdown-menu main-menu-level-3-container">
														<li id="menu-item-362"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/bankinginsurance/">Banking
																&#038; Insurance</a></li>
														<li id="menu-item-365"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/engineeringconsultancy/">Engineering
																&#038; Consultancy</a></li>
														<li id="menu-item-363"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/finance-control/">Finance
																&#038; Control</a></li>
														<li id="menu-item-370"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/international/">International</a></li>
														<li id="menu-item-364"
															class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home main-menu-level-3"><a
															href="https://www.dpa.nl/it/">IT</a></li>
														<li id="menu-item-367"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/legal/">Legal</a></li>
														<li id="menu-item-863"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/marketing/">Marketing</a></li>
														<li id="menu-item-368"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/public/">Public</a></li>
														<li id="menu-item-366"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/supply-chain-procurement/">Supply
																Chain &#038; Procurement</a></li>
													</ul></li>
												<li id="menu-item-1036"
													class="dropdown menu-title menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-2"><a
													class="dropdown-toggle" data-toggle="dropdown">Business
														units</a><b class="caret"></b>
													<ul class="dropdown-menu main-menu-level-3-container">
														<li id="menu-item-1034"
															class="menu-item menu-item-type-post_type menu-item-object-business-unit main-menu-level-3"><a
															href="https://www.dpa.nl/it/business-units/dpa-geos/">DPA
																GEOS</a></li>
														<li id="menu-item-1033"
															class="menu-item menu-item-type-post_type menu-item-object-business-unit main-menu-level-3"><a
															href="https://www.dpa.nl/it/business-units/dpa-it/">DPA
																IT</a></li>
														<li id="menu-item-1357"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															title="RedForce-IT.nl" target="_blank"
															href="http://www.redforce-it.nl">RedForce</a></li>
													</ul></li>
											</div>
										</div>
									</div>
								</ul></li>
							<li id="menu-item-489"
								class="dropdown menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children main-menu-level-1"><a
								href="https://www.dpa.nl/vacatures" class="dropdown-toggle"
								data-toggle="dropdown">Vacatures</a><b class="caret"></b>
								<ul class="dropdown-menu main-menu-level-2-container">
									<div class="sub-menu-width">
										<div class="container">
											<div class="menu-column-container">
												<li id="menu-item-583"
													class="dropdown menu-title menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-580 current_page_item menu-item-has-children main-menu-level-2"><a
													title="GEOS vacatures"
													href="https://www.dpa.nl/it/geos-vacatures/"
													class="dropdown-toggle" data-toggle="dropdown">DPA GEOS
														vacatures</a><b class="caret"></b>
													<ul class="dropdown-menu main-menu-level-3-container">
														<li id="menu-item-1077"
															class="menu-item menu-item-type-post_type menu-item-object-page main-menu-level-3"><a
															title="Java vacatures"
															href="https://www.dpa.nl/it/geos/java-vacatures/">Java
																vacatures</a></li>
														<li id="menu-item-1076"
															class="menu-item menu-item-type-post_type menu-item-object-page main-menu-level-3"><a
															title="Oracle vacatures"
															href="https://www.dpa.nl/it/geos/oracle-vacatures/">Oracle
																vacatures</a></li>
														<li id="menu-item-1075"
															class="menu-item menu-item-type-post_type menu-item-object-page main-menu-level-3"><a
															title="Salesforce Vacatures"
															href="https://www.dpa.nl/it/geos/salesforce-vacatures/">Salesforce
																Vacatures</a></li>
														<li id="menu-item-1078"
															class="menu-item menu-item-type-post_type menu-item-object-page main-menu-level-3"><a
															title="SAP vacatures"
															href="https://www.dpa.nl/it/geos/sap-vacatures/">SAP
																vacatures</a></li>
														<li id="menu-item-1074"
															class="menu-item menu-item-type-post_type menu-item-object-page main-menu-level-3"><a
															title="Siebel Vacatures"
															href="https://www.dpa.nl/it/geos/siebel-vacatures/">Siebel
																Vacatures</a></li>
													</ul></li>
												<li id="menu-item-579"
													class="dropdown menu-title menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children main-menu-level-2"><a
													title="IT vacatures"
													href="https://www.dpa.nl/it/it-vacatures/"
													class="dropdown-toggle" data-toggle="dropdown">DPA IT
														vacatures</a><b class="caret"></b>
													<ul class="dropdown-menu main-menu-level-3-container">
														<li id="menu-item-1243"
															class="menu-item menu-item-type-post_type menu-item-object-page main-menu-level-3"><a
															title="Vacatures Data Analist"
															href="https://www.dpa.nl/it/vacatures-data-analist/">Data
																Analist vacatures</a></li>
														<li id="menu-item-1228"
															class="menu-item menu-item-type-post_type menu-item-object-page main-menu-level-3"><a
															title="Vacatures Systeembeheerder"
															href="https://www.dpa.nl/it/vacatures-systeembeheerder-netwerkbeheerder/">Systeembeheerder
																vacatures</a></li>
													</ul></li>
											</div>
										</div>
									</div>
								</ul></li>
							<li id="menu-item-23"
								class="dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-1"><a
								href="https://www.dpa.nl/professionals" class="dropdown-toggle"
								data-toggle="dropdown">Professionals</a><b class="caret"></b>
								<ul class="dropdown-menu main-menu-level-2-container">
									<div class="sub-menu-width">
										<div class="container">
											<div class="menu-column-container">
												<li id="menu-item-253"
													class="dropdown menu-title menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-2"><a
													href="https://www.dpa.nl/it/werken-bij-dpa/" class="dropdown-toggle"
													data-toggle="dropdown">Werken bij DPA</a><b class="caret"></b>
													<ul class="dropdown-menu main-menu-level-3-container">
														<li id="menu-item-258"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/it/opleidingsprogrammas/">Opleidingsprogramma&#8217;s</a></li>
														<li id="menu-item-260"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/it/arbeidsvoorwaarden/">Arbeidsvoorwaarden</a></li>
														<li id="menu-item-967"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/dpa-academy">DPA Academy</a></li>
														<li id="menu-item-259"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/it/traineeships/">Traineeships</a></li>
														<li id="menu-item-261"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/it/sollicitatieprocedure/">Sollicitatieprocedure</a></li>
														<li id="menu-item-71"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/it/vacatures">Vacatures</a></li>
													</ul></li>
												<li id="menu-item-1037"
													class="dropdown menu-title menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-2"><a
													class="dropdown-toggle" data-toggle="dropdown">Mogelijkheden
														bij DPA</a><b class="caret"></b>
													<ul class="dropdown-menu main-menu-level-3-container">
														<li id="menu-item-254"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/it/vast-contract/">Vast contract</a></li>
														<li id="menu-item-257"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/it/projectcontract/">Projectcontract</a></li>
														<li id="menu-item-256"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/it/freelance-zzp/">Freelance of ZZP</a></li>
													</ul></li>
											</div>
										</div>
									</div>
								</ul></li>
							<li id="menu-item-24"
								class="dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-1"><a
								href="https://www.dpa.nl/opdrachtgevers" class="dropdown-toggle"
								data-toggle="dropdown">Opdrachtgevers</a><b class="caret"></b>
								<ul class="dropdown-menu main-menu-level-2-container">
									<div class="sub-menu-width">
										<div class="container">
											<div class="menu-column-container">
												<li id="menu-item-1042"
													class="dropdown menu-title menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-2"><a
													href="https://www.dpa.nl/it/opdrachtgevers" class="dropdown-toggle"
													data-toggle="dropdown">Informatie voor opdrachtgevers</a><b
													class="caret"></b>
													<ul class="dropdown-menu main-menu-level-3-container">
														<li id="menu-item-1043"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/it/opdrachtgevers/op-zoek-naar-professional">Op
																zoek naar een professional?</a></li>
														<li id="menu-item-262"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/it/onze-werkwijze/">Onze werkwijze</a></li>
														<li id="menu-item-264"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/opleidingsprogrammas/">Opleidingsprogrammas</a></li>
														<li id="menu-item-1084"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															title="Detachering/detacheren via DPA"
															href="https://www.dpa.nl/opdrachtgevers/detachering-detacheren">Detachering</a></li>
														<li id="menu-item-266"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/interim-zzp/">Interim &#038; ZZP</a></li>
														<li id="menu-item-267"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															title="Werving en selectie" href="https://www.dpa.nl/werving-en-selectie/">Werving
																en selectie</a></li>
														<li id="menu-item-268"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/consultancy/">Consultancy</a></li>
														<li id="menu-item-1122"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															title="DPA Academy voor opdrachtgevers"
															href="https://www.dpa.nl/opdrachtgevers/dpa-academy-opdrachtgevers">Informatie
																over DPA Academy</a></li>
														<li id="menu-item-270"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/buitenlandse-specialisten/">Buitenlandse
																specialisten</a></li>
														<li id="menu-item-861"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/kwaliteit-en-certificeringen">Kwaliteit
																en certificeringen</a></li>
													</ul></li>
												<li id="menu-item-1126"
													class="dropdown menu-title menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-2"><a
													class="dropdown-toggle" data-toggle="dropdown">IT</a><b
													class="caret"></b>
													<ul class="dropdown-menu main-menu-level-3-container">
														<li id="menu-item-1125"
															class="menu-item menu-item-type-post_type menu-item-object-page main-menu-level-3"><a
															title="ICT Detacheringsbureau"
															href="https://www.dpa.nl/it/ict-detacheringsbureau/">ICT
																detachering via DPA</a></li>
													</ul></li>
											</div>
										</div>
									</div>
								</ul></li>
							<li id="menu-item-255"
								class="dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-1"><a
								href="https://www.dpa.nl/over-dpa/" class="dropdown-toggle" data-toggle="dropdown">Over
									DPA</a><b class="caret"></b>
								<ul class="dropdown-menu main-menu-level-2-container">
									<div class="sub-menu-width">
										<div class="container">
											<div class="menu-column-container">
												<li id="menu-item-1038"
													class="dropdown menu-title menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-2"><a
													href="https://www.dpa.nl/over-dpa" class="dropdown-toggle"
													data-toggle="dropdown">Over DPA</a><b class="caret"></b>
													<ul class="dropdown-menu main-menu-level-3-container">
														<li id="menu-item-271"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/blog/nieuws">Actueel</a></li>
														<li id="menu-item-275"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/profiel/">Profiel</a></li>
														<li id="menu-item-276"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/missie-en-kernwaarden/">Missie en kernwaarden</a></li>
														<li id="menu-item-279"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/mvo/">Maatschappelijke verantwoordelijkheid</a></li>
														<li id="menu-item-921"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															title="Kennis en Kunde"
															href="http://kennisenkunde.dpa.nl/">KennisEnKunde</a></li>
													</ul></li>
												<li id="menu-item-278"
													class="dropdown menu-title menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-2"><a
													href="https://www.dpa.nl/investor-relations/" class="dropdown-toggle"
													data-toggle="dropdown">Investor Relations</a><b
													class="caret"></b>
													<ul class="dropdown-menu main-menu-level-3-container">
														<li id="menu-item-280"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/aandeel-dpa/">Aandeel DPA</a></li>
														<li id="menu-item-281"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/algemene-vergadering-van-aandeelhouders/">AVA</a></li>
														<li id="menu-item-282"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/bestuur/">Bestuur</a></li>
														<li id="menu-item-283"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/corporate-governance/">Corporate governance</a></li>
														<li id="menu-item-284"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/financiele-kalender/">Financiële kalender</a></li>
														<li id="menu-item-285"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/verslaglegging/">Verslaglegging</a></li>
														<li id="menu-item-371"
															class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-3"><a
															href="https://www.dpa.nl/persberichten">Persberichten</a></li>
													</ul></li>
											</div>
										</div>
									</div>
								</ul></li>
							<li id="menu-item-287"
								class="dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children main-menu-level-1"><a
								href="https://www.dpa.nl/blog/" class="dropdown-toggle" data-toggle="dropdown">Blog</a><b
								class="caret"></b>
								<ul class="dropdown-menu main-menu-level-2-container">
									<div class="sub-menu-width">
										<div class="container">
											<div class="menu-column-container">
												<li id="menu-item-288"
													class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-2"><a
													href="https://www.dpa.nl/blog/directie/">Directie</a></li>
												<li id="menu-item-289"
													class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-2"><a
													href="https://www.dpa.nl/blog/carriereontwikkeling/">Carrière &#038;
														ontwikkeling</a></li>
												<li id="menu-item-290"
													class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-2"><a
													href="https://www.dpa.nl/bankinginsurance/blog/">Banking &#038; Insurance</a></li>
												<li id="menu-item-293"
													class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-2"><a
													href="https://www.dpa.nl/engineeringconsultancy/blog/">Engineering &#038;
														Consultancy</a></li>
												<li id="menu-item-291"
													class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-2"><a
													href="https://www.dpa.nl/finance-control/blog/">Finance &#038; Control</a></li>
												<li id="menu-item-1039"
													class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-2"><a
													href="https://www.dpa.nl/international/blog">International</a></li>
												<li id="menu-item-292"
													class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-2"><a
													href="https://www.dpa.nl/it/blog/">IT</a></li>
												<li id="menu-item-295"
													class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-2"><a
													href="https://www.dpa.nl/legal/blog/">Legal</a></li>
												<li id="menu-item-297"
													class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-2"><a
													href="https://www.dpa.nl/marketing/blog/">Marketing</a></li>
												<li id="menu-item-296"
													class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-2"><a
													href="https://www.dpa.nl/public/blog/">Public</a></li>
												<li id="menu-item-294"
													class="menu-item menu-item-type-custom menu-item-object-custom main-menu-level-2"><a
													href="https://www.dpa.nl/supply-chain-procurement/blog/">Supply Chain
														&#038; Procurement</a></li>
											</div>
										</div>
									</div>
								</ul></li>
							<li id="menu-item-101"
								class="menu-item menu-item-type-post_type menu-item-object-page main-menu-level-1"><a
								href="https://www.dpa.nl/it/contact/">Contact</a></li>
							<li id="menu-item-412"
								class="visible-xs visible-sm menu-item menu-item-type-custom menu-item-object-custom main-menu-level-1"><a
								href="https://www.dpa.nl/">DPA.NL</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end .container -->
		</div>
		<!-- end .navbar -->
	</header>
	<!-- end header -->
	<!-- Slider Area -->
	<div id="slider">
		<!-- full width slider -->
		<div id="new-royalslider-2"
			class="royalSlider new-royalslider-2 rsUni rs-default-template"
			style="width: 100%; height: 450px;">
			<div class="rsContent">
				<img class="rsImg"
					src="https://www.dpa.nl/content/uploads/sites/5/2015/10/4-digitaal-6-digitaalpsdjpgkopie.jpg"
					alt="slide1" />


				<div class="rsSBlock ui-draggable-handle"
					style="left: 100px; top: auto; width: auto; height: auto; position: absolute; bottom: 30px;">
					<h3>IT-specialisten die de taal van de business spreken</h3>
				</div>
			</div>

		</div>
	</div>
	<!-- Searchfilter Area -->

	<div class="search" id="search-bar">
		<div class="container">
			<form class="navbar-form" role="search" method="get" id="searchform"
				action="https://www.dpa.nl/vacatures">
				<h3>
					Huidige vacatures <span>(48)</span>
				</h3>

				<div class="form-group sub-site" id="field">
					<select multiple="multiple" class="form-control"
						name="filter-field[]" id="filter-field"
						data-placeholder="Vakgebied">
						<option value="banking-insurance">Banking &amp;
							Insurance</option>
						<option value="engineering-consultancy">Engineering
							&amp; Consultancy</option>
						<option value="finance-control">Finance &amp; Control</option>
						<option value="international">International</option>
						<option value="it" selected>IT</option>
						<option value="legal">Legal</option>
						<option value="marketing">Marketing</option>
						<option value="public">Public</option>
						<option value="referral">Referral</option>
						<option value="supply-chain-procurement">Supply Chain
							&amp; Procurement</option>
					</select>
				</div>

				<div class="form-group" id="location">
					<select multiple="multiple" class="form-control"
						name="filter-region[]" id="filter-region"
						data-placeholder="Locatie">
						<option value="brussel">Brussel</option>
						<option value="drenthe">Drenthe</option>
						<option value="flevoland">Flevoland</option>
						<option value="friesland">Friesland</option>
						<option value="gelderland">Gelderland</option>
						<option value="groningen">Groningen</option>
						<option value="heel-nederland">Heel Nederland</option>
						<option value="limburg">Limburg</option>
						<option value="noord-brabant">Noord-Brabant</option>
						<option value="noord-holland">Noord-Holland</option>
						<option value="overijssel">Overijssel</option>
						<option value="utrecht">Utrecht</option>
						<option value="zeeland">Zeeland</option>
						<option value="zuid-holland">Zuid-Holland</option>
					</select>
				</div>

				<div class="form-group" id="educational-level">
					<select multiple="multiple" class="form-control"
						name="filter-contracttype[]" id="filter-contracttype"
						data-placeholder="Dienstverband">
						<option value="freelance">Freelance</option>
						<option value="project-contract">Project contract</option>
						<option value="tijdelijk-contract">Tijdelijk contract</option>
						<option value="vaste-dienst">Vaste dienst</option>
					</select>
				</div>

				<div class="form-group" id="search-submit">
					<input name="filter-searchphrase" id="s" type="text"
						class="search-query form-control" placeholder="Zoek vacatures">
					<button type="submit">Filter...</button>
				</div>

				<div class="form-group visible-xs visible-sm" id="filter-trigger">
					<a href="#" class="filter-trigger"> Filter > </a>
				</div>
			</form>
		</div>
	</div>


	<div id="content">
		<div class="container">
			<p id="breadcrumbs">
				<span xmlns:v="http://rdf.data-vocabulary.org/#"><span
					typeof="v:Breadcrumb"><a href="https://www.dpa.nl/it/"
						rel="v:url" property="v:title">Home</a> &gt; <span
						class="breadcrumb_last">{{title}}</span></span></span>
			</p>
		</div>
		<div class="container">
			<article class="lyt-sidebar" id="post-580" role="article">
				<section class="post-content">
					<content/>
				</section>
				<aside>
					<div id="primary-sidebar" class="primary-sidebar widget-area"
						role="complementary"></div>
					<!-- #primary-sidebar -->

					<div id="secondary-sidebar" class="primary-sidebar widget-area"
						role="complementary">
						<div id="text-19" class="widget widget_text">
							<div class="textwidget">
								<img
									src="https://www.dpa.nl/content/uploads/sites/5/2014/11/DPA-GEOS.jpg"
									alt="Logo DPA GEOS" width="262" height="61"> <br> <br>
							</div>
						</div>
						<div id="text-20" class="widget widget_text">
							<div class="textwidget">
								<img
									src="https://www.dpa.nl/content/uploads/2015/03/Stefan_van_der_Mark_DPA.png"
									width="205" height="205" alt="GEOS vacatures"
									class="avatar avatar-205 wp-user-avatar wp-user-avatar-205 alignnone photo" />

								<br /> <br /> <span style="color: #ff0000;"><p	class="rectitle">
										<strong>Stefan van der Mark</strong>
									</p></span> <a href="tel:+31641678002">06 41 67 80 02</a><br> <a
									href="mailto:stefan.vandermark@dpa.nl">stefan.vandermark@dpa.nl</a>
								<br>
							</div>
						</div>
						<div id="text-21" class="widget widget_text">
							<h4 class="widgettitle">Waarom DPA GEOS?</h4>
							<div class="textwidget">
								Vaste baan én afwisselende opdrachten <br> Hulp van DPA bij
								het vinden van de gewenste opdrachten<br> Aanbod van
								trainingen en opleidingen<br> <br> Meer over <a
									href="https://www.dpa.nl/it/business-units/dpa-geos"
									title="DPA GEOS">DPA GEOS</a>

							</div>
						</div>
						<div id="recent-posts-13" class="widget widget_recent_entries">
							<h4 class="widgettitle">Blogs</h4>
							<ul>
								<li><a
									href="https://www.dpa.nl/it/blog/byod-doe-het-veilig-en-weloverwogen/">BYOD:
										doe het veilig en weloverwogen</a></li>
								<li><a
									href="https://www.dpa.nl/it/blog/hoe-veilig-zijn-uw-leveranciers/">Hoe
										veilig zijn úw leveranciers?</a></li>
								<li><a
									href="https://www.dpa.nl/it/blog/informatiebeveiliging-begint-bij-voordeur/">Informatiebeveiliging
										begint bij de voordeur</a></li>
								<li><a
									href="https://www.dpa.nl/it/blog/investeren-informatiebeveiliging-voorkom-onnodige-kosten/">Investeren
										in informatiebeveiliging? Voorkom onnodige kosten.</a></li>
								<li><a
									href="https://www.dpa.nl/it/blog/wat-gebeurt-er-op-uw-netwerk/">Wat
										gebeurt er op uw netwerk?</a></li>
							</ul>
						</div>
						<div id="text-39" class="widget widget_text">
							<div class="textwidget">
								<span style="color: #ff0000;"><a style="color: #ff0000;"
									href="https://www.dpa.nl/it/blog/">Bekijk alle blogs</a></span>
							</div>
						</div>
						<div id="nav_menu-34" class="widget widget_nav_menu">
							<h4 class="widgettitle">Cases</h4>
							<div class="menu-cases-dpa-geos-container">
								<ul id="menu-cases-dpa-geos" class="menu">
									<li id="menu-item-726"
										class="menu-item menu-item-type-post_type menu-item-object-case menu-item-726"><a
										title="Wees geen &#8216;sitting duck&#8217;, creëer je eigen kansen"
										href="https://www.dpa.nl/it/business-units/dpa-geos/cases/wees-geen-sitting-duck-creeer-eigen-kansen/">Wees
											geen &#8216;sitting duck&#8217;, creëer je eigen kansen</a></li>
									<li id="menu-item-856"
										class="menu-item menu-item-type-post_type menu-item-object-case menu-item-856"><a
										title="Succesvolle Siebel ALX-tool van Tjomme de Haan"
										href="https://www.dpa.nl/it/business-units/dpa-geos/cases/succesvolle-siebel-alx-tool-tjomme-de-haan/">Succesvolle
											Siebel ALX-tool van Tjomme de Haan</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- #secondary-sidebar -->
				</aside>
			</article>

		</div>
	</div>

	<div id="sidebar-filter">
		<div id="search-2" class="widget widget_search">
			<form class="navbar-form" role="search" method="get" id="searchform"
				action="https://www.dpa.nl/vacatures">
				<h3>
					Huidige vacatures <span>(48)</span>
				</h3>

				<div class="form-group sub-site" id="field">
					<select multiple="multiple" class="form-control"
						name="filter-field[]" id="filter-field"
						data-placeholder="Vakgebied">
						<option value="banking-insurance">Banking &amp;
							Insurance</option>
						<option value="engineering-consultancy">Engineering
							&amp; Consultancy</option>
						<option value="finance-control">Finance &amp; Control</option>
						<option value="international">International</option>
						<option value="it" selected>IT</option>
						<option value="legal">Legal</option>
						<option value="marketing">Marketing</option>
						<option value="public">Public</option>
						<option value="referral">Referral</option>
						<option value="supply-chain-procurement">Supply Chain
							&amp; Procurement</option>
						<option value="banking-insurance">Banking &amp;
							Insurance</option>
						<option value="engineering-consultancy">Engineering
							&amp; Consultancy</option>
						<option value="finance-control">Finance &amp; Control</option>
						<option value="international">International</option>
						<option value="it" selected>IT</option>
						<option value="legal">Legal</option>
						<option value="marketing">Marketing</option>
						<option value="public">Public</option>
						<option value="referral">Referral</option>
						<option value="supply-chain-procurement">Supply Chain
							&amp; Procurement</option>
					</select>
				</div>

				<div class="form-group" id="location">
					<select multiple="multiple" class="form-control"
						name="filter-region[]" id="filter-region"
						data-placeholder="Locatie">
						<option value="brussel">Brussel</option>
						<option value="drenthe">Drenthe</option>
						<option value="flevoland">Flevoland</option>
						<option value="friesland">Friesland</option>
						<option value="gelderland">Gelderland</option>
						<option value="groningen">Groningen</option>
						<option value="heel-nederland">Heel Nederland</option>
						<option value="limburg">Limburg</option>
						<option value="noord-brabant">Noord-Brabant</option>
						<option value="noord-holland">Noord-Holland</option>
						<option value="overijssel">Overijssel</option>
						<option value="utrecht">Utrecht</option>
						<option value="zeeland">Zeeland</option>
						<option value="zuid-holland">Zuid-Holland</option>
						<option value="brussel">Brussel</option>
						<option value="drenthe">Drenthe</option>
						<option value="flevoland">Flevoland</option>
						<option value="friesland">Friesland</option>
						<option value="gelderland">Gelderland</option>
						<option value="groningen">Groningen</option>
						<option value="heel-nederland">Heel Nederland</option>
						<option value="limburg">Limburg</option>
						<option value="noord-brabant">Noord-Brabant</option>
						<option value="noord-holland">Noord-Holland</option>
						<option value="overijssel">Overijssel</option>
						<option value="utrecht">Utrecht</option>
						<option value="zeeland">Zeeland</option>
						<option value="zuid-holland">Zuid-Holland</option>
					</select>
				</div>

				<div class="form-group" id="educational-level">
					<select multiple="multiple" class="form-control"
						name="filter-contracttype[]" id="filter-contracttype"
						data-placeholder="Dienstverband">
						<option value="freelance">Freelance</option>
						<option value="project-contract">Project contract</option>
						<option value="tijdelijk-contract">Tijdelijk contract</option>
						<option value="vaste-dienst">Vaste dienst</option>
						<option value="freelance">Freelance</option>
						<option value="project-contract">Project contract</option>
						<option value="tijdelijk-contract">Tijdelijk contract</option>
						<option value="vaste-dienst">Vaste dienst</option>
					</select>
				</div>

				<div class="form-group" id="search-submit">
					<input name="filter-searchphrase" id="s" type="text"
						class="search-query form-control" placeholder="Zoek vacatures">
					<button type="submit">Filter...</button>
				</div>

				<div class="form-group visible-xs visible-sm" id="filter-trigger">
					<a href="#" class="filter-trigger"> Filter > </a>
				</div>
			</form>
		</div>
	</div>

	<!-- end #container -->
	<footer role="contentinfo">
		<div id="inner-footer" class="clearfix container">
			<div id="widget-footer" class="clearfix">
				<div id="nav_menu-2" class="widget widget_nav_menu">
					<h4 class="widgettitle">Overzicht</h4>
					<div class="menu-footer-menu-1-overzicht-container">
						<ul id="menu-footer-menu-1-overzicht" class="menu">
							<li id="menu-item-184"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-184"><a
								href="https://www.dpa.nl/over-dpa/">Over DPA</a></li>
							<li id="menu-item-1093"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1093"><a
								href="https://www.dpa.nl/blog/nieuws">Nieuws</a></li>
							<li id="menu-item-187"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-187"><a
								target="_blank" href="https://www.dpa.nl/werken-bij-dpa/">Werken bij DPA</a></li>
							<li id="menu-item-195"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a
								target="_blank" href="https://www.dpa.nl/profiel/">Profiel</a></li>
							<li id="menu-item-197"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-197"><a
								target="_blank" href="https://www.dpa.nl/missie-en-kernwaarden/">Missie en
									kernwaarden</a></li>
							<li id="menu-item-240"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-240"><a
								target="_blank" href="https://www.dpa.nl/business-units">Business units</a></li>
							<li id="menu-item-200"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-200"><a
								target="_blank" href="https://www.dpa.nl/missie-en-kernwaarden/">MVO</a></li>
							<li id="menu-item-202"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-202"><a
								target="_blank" href="https://www.dpa.nl/investor-relations">Investor
									Relations</a></li>
							<li id="menu-item-1094"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1094"><a
								href="https://www.dpa.nl/blog">Blog</a></li>
						</ul>
					</div>
				</div>
				<div id="nav_menu-3" class="widget widget_nav_menu">
					<h4 class="widgettitle">Vakgebieden</h4>
					<div class="menu-footer-menu-2-vakgebieden-container">
						<ul id="menu-footer-menu-2-vakgebieden" class="menu">
							<li id="menu-item-203"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-203"><a
								target="_blank" href="https://www.dpa.nl/bankinginsurance/">Banking &#038;
									Insurance</a></li>
							<li id="menu-item-206"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-206"><a
								target="_blank" href="https://www.dpa.nl/engineeringconsultancy/">Engineering
									&#038; Consultancy</a></li>
							<li id="menu-item-204"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-204"><a
								target="_blank" href="https://www.dpa.nl/finance-control/">Finance &#038;
									Control</a></li>
							<li id="menu-item-205"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-205"><a
								target="_blank" href="https://www.dpa.nl/it/">IT</a></li>
							<li id="menu-item-213"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-213"><a
								target="_blank" href="https://www.dpa.nl/international/">International</a></li>
							<li id="menu-item-209"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-209"><a
								target="_blank" href="https://www.dpa.nl/legal/">Legal</a></li>
							<li id="menu-item-1092"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1092"><a
								href="https://www.dpa.nl/marketing">Marketing</a></li>
							<li id="menu-item-210"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-210"><a
								target="_blank" href="https://www.dpa.nl/public/">Public</a></li>
							<li id="menu-item-207"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-207"><a
								target="_blank" href="https://www.dpa.nl/supply-chain-procurement/">Supply
									Chain &#038; Procurement</a></li>
						</ul>
					</div>
				</div>
				<div id="nav_menu-4" class="widget widget_nav_menu">
					<h4 class="widgettitle">DPA Kantoren</h4>
					<div class="menu-footer-menu-3-dpa-kantoren-container">
						<ul id="menu-footer-menu-3-dpa-kantoren" class="menu">
							<li id="menu-item-214"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-214"><a
								target="_blank"
								href="https://www.dpa.nl/contact?locatie=amsterdam">Amsterdam</a></li>
							<li id="menu-item-215"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-215"><a
								target="_blank" href="https://www.dpa.nl/contact?locatie=bussum">Bussum</a></li>
							<li id="menu-item-217"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-217"><a
								target="_blank"
								href="https://www.dpa.nl/contact?locatie=eindhoven">Eindhoven</a></li>
							<li id="menu-item-218"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-218"><a
								target="_blank"
								href="https://www.dpa.nl/contact?locatie=rotterdam">Rotterdam</a></li>
							<li id="menu-item-220"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-220"><a
								target="_blank" href="https://www.dpa.nl/contact?locatie=zwolle">Zwolle</a></li>
							<li id="menu-item-384"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-384"><a
								href="https://www.dpa.nl/contact/#collapse-kantoor-maastricht">Maastricht</a></li>
						</ul>
					</div>
				</div>

				<div id="text-2" class="widget widget_text">
					<h4 class="widgettitle">Geen passende vacature gevonden?</h4>
					<div class="textwidget">
						<p>Meld je hier dan aan voor onze JobAlert</p>
						<div class="read-all">
							<a href="https://www.dpa.nl/jobalert" class="read-all">JobAlert</a>
						</div>
					</div>
				</div>


			</div>
		</div>
		<!-- end #inner-footer -->
	</footer>
	<!-- end footer -->
	<div class="copyrights">
		<div class="container">
			<div class="links">
				<ul class="copyrights">
					<li>&copy; Copyrights 2016 DPA Group N.V.</li>
				</ul>
				<div class="footer-links clearfix">
					<ul id="menu-footer-links" class="menu">
						<li id="menu-item-30"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30"><a
							href="https://www.dpa.nl/privacy-en-cookiebeleid">Privacy- en cookiebeleid</a></li>
						<li id="menu-item-31"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31"><a
							href="https://www.dpa.nl/disclaimer">Disclaimer</a></li>
					</ul>
				</div>
				<ul class="allrights">
					<li>All rights reserved</li>
				</ul>
			</div>
			<div class="social">
				<ul>
					<li class="linkedin"><a
						href="https://www.linkedin.com/company/dpa-professionals"
						target="blank">Linkedin</a></li>
					<li class="facebook"><a
						href="https://www.facebook.com/DPAprofessionals" target="blank">Facebook</a>
					</li>
					<li class="twitter"><a href="https://twitter.com/DPA_prof"
						target="blank">Twitter</a></li>
					<li class="googleplus"><a
						href="https://plus.google.com/103419111597482276458/about"
						target="blank">Googleplus</a></li>
					<li class="youtube"><a
						href="https://www.youtube.com/channel/UCOhppUQ_U50w4wQnM3Il3vw"
						target="blank">Youtube</a></li>
				</ul>
			</div>
		</div>
	</div>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/themes/dpa/assets/js/bootstrap/affix.js?ver=1.0'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/themes/dpa/assets/js/bootstrap/alert.js?ver=1.0'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/themes/dpa/assets/js/bootstrap/button.js?ver=1.0'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/themes/dpa/assets/js/bootstrap/carousel.js?ver=1.0'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/themes/dpa/assets/js/bootstrap/collapse.js?ver=1.0'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/themes/dpa/assets/js/bootstrap/scrollspy.js?ver=1.0'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/themes/dpa/assets/js/bootstrap/tab.js?ver=1.0'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/themes/dpa/assets/js/bootstrap/tooltip.js?ver=1.0'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/themes/dpa/assets/js/bootstrap/transition.js?ver=1.0'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/themes/dpa/assets/js/libs/jquery.validate.v1.12.js?ver=1.0'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/themes/dpa/assets/js/scripts.js?ver=1.0'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/plugins/easy-twitter-feed-widget/lib/js/widget-easy-twitter-feed-widget.js?ver=1.0'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/it/wp-includes/js/comment-reply.min.js?ver=4.5.3'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/it/wp-includes/js/wp-embed.min.js?ver=4.5.3'></script>
	<script type='text/javascript'
		src='https://www.dpa.nl/content/plugins/new-royalslider/lib/royalslider/jquery.royalslider.min.js?ver=3.2.0'></script>
	<script id="new-royalslider-init-code" type="text/javascript">
jQuery(document).ready(function($) {
	$('.new-royalslider-2').royalSlider({template:'default',image_generation:{imageWidth:'',imageHeight:'',thumbImageWidth:'',thumbImageHeight:''},thumbs:{thumbWidth:96,thumbHeight:72},block:{moveOffset:20,speed:400,delay:200},width:'100%',height:'450px',autoScaleSlider:!0,autoScaleSliderWidth:1200,autoScaleSliderHeight:350,imageScaleMode:'fill',imageScalePadding:0,controlNavigation:'none',sliderDrag:!1,sliderTouch:!1,navigateByClick:!1,fadeinLoadedSlide:!1,controlsInside:!1,allowCSS3:!1});
});
</script>
</body>
</html>
