<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, "><!-- maximum-scale=1, user-scalable=1 -->
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href='/css/base.mobile.css'  />
	<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="/js/ajax.js"></script>
</head>
<body>
<include>~/includes/header.mobile.html</include>
<div class="content">
	<content/>
</div>
<include>~/includes/copyright.mobile.html</include>
</body>
</html>