<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href='/css/base.css'  />
	<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="/js/ajax.js"></script>
</head>
<body>
<include>~/includes/header.html</include>
<div class="content">
	<content/>
</div>
<include>~/includes/copyright.html</include>
</body>
</html>