<span class="undelinedBold">Artikel 18</span><br />
<span class="undelinedBold">Geldigheidsduur</span>
<p>Als deze arbeidsovereenkomst niet binnen 10 werkdagen, na ondertekening en dagtekening door DPA, door de medewerker is
 ondertekend en geretourneerd aan DPA, dan komt deze overeenkomst te vervallen en kan de medewerker geen rechten meer ontlenen aan de inhoud ervan. 
</p> 

<br />
&nbsp;<br />

<span class="undelinedBold">Artikel 19</span><br />
<span class="undelinedBold">Rechtskeuze en forumkeuze </span>
<ol>
	<li>Op deze arbeidsovereenkomst is Nederlands recht van toepassing. </li>
	<li>De Nederlandse rechter is bij uitsluiting bevoegd om van geschillen direct of indirect voortvloeiende uit deze arbeidsovereenkomst kennis te nemen. </li>
	<li>Deze arbeidsovereenkomst vervangt alle eerdere (mondelinge dan wel schriftelijke) afspraken tussen partijen. 
	Wijzigingen en/of aanpassingen van deze arbeidsovereenkomst zijn alleen bindend wanneer zij schriftelijk door DPA aan de medewerker zijn bevestigd.
	</li>
</ol>

<p  class="spacer">&nbsp;<br /></p>

<p>
Aldus opgemaakt in tweevoud, per bladzijde geparafeerd en door partijen ondertekend te {{CONST['DPA_PLAATS']}}  op {{tomorrow}}. 
</p>

<table style="width:15cm;">
 <tr>
 	<td style="width:45%;">DPA Beheer BV</td> <td> &nbsp; </td><td style="width:45%;"> De Medewerker </td>
 </tr> 	
 <tr>
   <td colspan="3">&nbsp;</td>
 </tr>
  <tr>
   <td colspan="3">&nbsp;</td>
 </tr>
  <tr>
   <td colspan="3">&nbsp;</td>
 </tr>
 
 <tr>
 	<td style="border-bottom:1px solid black;">&nbsp;</td>  <td> &nbsp; </td> <td style="border-bottom:1px solid black;"> &nbsp; </td>
 </tr> 
  <tr>
 	<td>{{CONST['DPA_MANAGER']}}</td> <td> &nbsp; </td><td> {{POST['geslacht']}}  {{POST['voornaam']}} {{POST['achternaam']}} </td>
 </tr> 	
</table>


