<span class="undelinedBold">Artikel 5</span><br />
<span class="undelinedBold">Reiskostenvergoeding en kostenvergoeding</span>
<ol>
	<li>Indien aan de medewerker geen auto ter beschikking wordt gesteld, worden de kosten woon - werkverkeer vergoed op basis van 2e klas openbaar vervoer onder overlegging van originele vervoersbewijzen of worden de in de eigen auto van de medewerker gereden kilometers vergoed op basis van een kilometervergoeding. Voornoemde kilometervergoeding wordt jaarlijks door de directie vastgesteld. De vergoeding bedraagt thans € 0,19 cent per daadwerkelijk gereden kilometer. De vergoeding wordt alleen indien en voor zover fiscaal mogelijk, netto uitgekeerd. In de kilometervergoeding wordt een door de medewerker af te sluiten, voldoende dekkende casco-, inzittenden- en ongevallenverzekering geacht te zijn begrepen. Aan de medewerker opgelegde verkeers- of parkeerboetes worden niet door DPA vergoed.</li>
	<li>DPA zal maandelijks de door de medewerker in het belang van DPA gemaakte kosten vergoeden op basis van door de medewerker ingediende gespecificeerde declaraties en bescheiden, een en ander uitsluitend indien en voor zover voor het maken van deze onkosten voorafgaande toestemming van DPA is verkregen.  </li>
</ol>

<span class="undelinedBold">Artikel 6</span><br />
<span class="undelinedBold">Vakantiedagen</span><br />
<span>Buiten de algemeen erkende feestdagen heeft de medewerker bij een fulltime dienstverband recht op {{POST['cVakantiedagen']}} vakantiedagen per jaar, conform de DPA CAO. 
Indien de arbeidsovereenkomst minder dan een jaar bedraagt, zal het aantal vakantie-uren pro rato worden berekend, afgerond op halve uren, in het voordeel van de medewerker. 
De opname van een vakantieperiode wordt in onderling overleg en met goedkeuring van de opdrachtgever (en DPA) bepaald. In beginsel moeten alle vakantiedagen waarop 
de medewerker recht heeft worden opgenomen in het kalenderjaar waarin ze zijn opgebouwd.
<br />
Indien de medewerker bij het einde van de arbeidsovereenkomst een negatief vakantiedagentegoed heeft, zal DPA dit negatieve vakantiedagentegoed 
bij de eindafrekening van de medewerker verrekenen.
</span>

