<span class="undelinedBold">Artikel 14</span><br />
<span class="undelinedBold">Scholing</span>
<ol>
	<li>DPA stelt de medewerker in staat scholing te volgen die noodzakelijk is voor de uitoefening van zijn functie, alsmede, 
	indien DPA daartoe redelijkerwijs aanleiding ziet,	 scholing die erop gericht is de arbeidsmobiliteit van de medewerker te behouden c.q. te vergroten.
	</li>
	<li>De medewerker stemt er mee in dat DPA, indien en voor zover op grond van wet-en regelgeving toegestaan, 
	de voor haar met de in dit artikel bedoelde scholing gepaard gaande kosten in mindering zal brengen op 
	de eventuele transitievergoeding waarop de medewerker ex artikel 7:673 BW aanspraak kan maken.
	 </li>
</ol>

<span class="undelinedBold">Artikel 15</span><br />
<span class="undelinedBold">DPA CAO, Personeelsregeling DPA en overige reglementen </span>
<p>Op deze arbeidsovereenkomst zijn de bepalingen van de DPA CAO, de Personeelsregeling DPA, de Autoregeling DPA en overige (eventuele)
 reglementen van toepassing. De bepalingen van de DPA CAO, de Personeelsregeling DPA, de Autoregeling DPA en de overige (eventuele) reglementen 
 maken deel uit van deze overeenkomst. Door ondertekening van deze overeenkomst verklaart de medewerker op de hoogte te zijn van voornoemde regelingen 
 en met de inhoud daarvan akkoord te gaan. Op deze arbeidsovereenkomst zijn de bepalingen van de van tijd tot tijd geldende DPA CAO, de Personeelsregeling DPA, 
 en overige (in deze arbeidsovereenkomst genoemde) reglementen van toepassing. Deze regelingen maken, indien en voor zover van toepassing, 
 integraal onderdeel uit van deze arbeidsovereenkomst.. Door ondertekening van deze overeenkomst verklaart de medewerker een exemplaar daarvan 
 te hebben ontvangen en op de hoogte te zijn van voornoemde regelingen. De medewerker verklaart zich met de inhoud en eventuele toekomstige 
 wijzigingen en/of aanpassingen daarvan akkoord. 
Wanneer de regelingen zoals opgenomen in de Personeelsregeling afwijken van deze arbeidsovereenkomst, prevaleert deze arbeidsovereenkomst.</p>

<br />
&nbsp;<br />

<span class="undelinedBold">Artikel 16</span><br />
<span class="undelinedBold">Wijziging overeenkomst </span>
<p style="page-break-after:always;">DPA behoudt zich het recht voor om met inachtneming van artikel 7:613 BW de bepalingen in deze arbeidsovereenkomst c.q.
 de arbeidsvoorwaarden (eenzijdig) te wijzigen c.q. aan te vullen, indien de omstandigheden daartoe redelijkerwijs aanleiding geven. 
 Indien een wetswijziging daartoe aanleiding geeft, zal DPA ook (waar nodig) eenzijdig wijzigingen kunnen aanbrengen in de arbeidsovereenkomst.
</p>
 
