@CHARSET "UTF-8";

div.page {	
	display:block;
     width: 18cm;
    height:1070px;
    overflow: hidden;
    page-break-after : always;
    clear            : both;
}

p.firstPage {
	position: absolute;
	top: 40px;
	text-align   : center;
	padding-top  : 500px;
	font-weight  : bold;
	font-size    : 11pt;
	 page-break-after : always;
}

p.spacer {
	line-height: 50px;
}

div.last {
	page-break-after: avoid; 
}

table {
   width: 16.6cm !important;
}

h1 {
	font-size: 14pt;
	text-align:center;
}

span.undelinedBold {
  display: block;
  overflow: hidden;
  text-decoration: underline;
  font-weight: bold;
}


li {
		 margin-left: 0px !important;
}
ol li{ 
  margin-left: 0px !important;
}